body {
  background-size: 50px 50px;
  background-image: linear-gradient(
      to right,
      rgba(200, 200, 200, 0.5) 1.3px,
      transparent 1.3px
    ),
    linear-gradient(
      to bottom,
      rgba(200, 200, 200, 0.5) 1.3px,
      transparent 1.3px
    );
}

h1 {
  font-family: var(--font-ubuntu);
  font-size: 19rem;
}
